.row_container{
    display: inline-flex;
    vertical-align: top;/* to fix the unexplainable gap after rows */
}

.row-odd{
    background-color: #fafafa;
}

.row-even{
    background-color: #f7f7f7;
}

.row-sticky{
    position: sticky;
    top: 0;
}

.row-focused{
    background-color: #e3f2fd; 
}

/* .row-header{
    background-color: #f3e5f5; 
}

.row-header:hover{
    background-color: #e8d2ef;
} */