body{
  margin: unset;
  padding: unset;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 9
}

.material-symbols-outlined{
  font-size: 18px;
}