section{
    height: 100vh;
    width: 100vw;
}
header{
    height: 12vh;
    width: inherit;
}
main{
    height: 84vh;
    max-height: 85vh;
    width: auto;
    background-color: azure;
    overflow: auto;
}
footer{
    height: 4vh;
    width: inherit;
    background-color: #EDF2FA;
}